<%- include('header.ejs') %>

    <h3 class="text-center ">Available Products</h3>
    <% for( let i in products) { %>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Product_Name: <%= products[i].product_name %>
                    </h5>
                    <p class="card-text">ID: <%= products[i].id %>
                    </p>
                    <p class="card-text"> Price: $<%= products[i].price %>
                    </p>
                    <p class="card-text"> Product_Desc:<br>
                        <%= products[i].desc %>
                    </p>
                    <form action="/addToCart" method="POST">
                        <input type="hidden" name="prodName" value="<%=products[i].product_name %>">
                        <input type="hidden" name="prodPrice" value="<%=products[i].price %>">
                        <input type="submit" class="btn btn-primary" value="Add to Cart" />
                    </form>
                </div>
            </div>
        </div>
        <% } %>


            <%- include('footer.ejs') %>